# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front/node_modules
front/.pnp
front/.pnp.js
front/.yarn/install-state.gz

# testing
front/coverage

# next.js
front/.next/
front/out/

# production
front/build

# misc
front/.DS_Store
front/*.pem

# debug
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

# local env files
front/.env*.local

# vercel
front/.vercel

# typescript
front/*.tsbuildinfo
front/next-env.d.ts

# compiled output
api/dist
api/node_modules

# Logs
api/logs
api/*.log
api/npm-debug.log*
api/pnpm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/lerna-debug.log*

# OS
api/.DS_Store

# Tests
api/coverage
api/.nyc_output

# IDEs and editors
api/.idea
api/.project
api/.classpath
api/.c9/
api/*.launch
api/.settings/
api/*.sublime-workspace

# IDE - VSCode
api/.vscode/*
api/!.vscode/settings.json
api/!.vscode/tasks.json
api/!.vscode/launch.json
api/!.vscode/extensions.json

# local env files
api/.env*
api/.env*.local
