<p>Hey {{ firstName }} {{ lastName }},</p>
<p>Your account has been successfully created. Please click the link below to create your password:</p>
<p>
    <a href="{{url}}">Create Password</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>